<html>
        <form method="POST" class="container mt-5">
    <h3>Post a Job</h3>

    <input name="title" placeholder="Job Title" class="form-control mb-3" required>
    <input name="specialization" placeholder="Specialization" class="form-control mb-3" required>
    <input name="location" placeholder="Location" class="form-control mb-3" required>
    <input name="salary" placeholder="Salary (₹)" class="form-control mb-3" required>

    <button class="btn btn-success">Post Job</button>
</form>

</html>


